{% extends 'layout.swig.html' %}

{% block body %}
	<div class="container" id="ng-app" ng-app="app">
		{% block header %}{% endblock %}

		<h1 class="slogan">
			Мы&nbsp;издаем книги — вы&nbsp;их можете не&nbsp;читать
		</h1>

		{% block promo %}{% endblock %}

		<h2 class="slogan">Самое незаметное издательство</h2>

		<p class="lead hide-on-small">
			Перетаскивайте&nbsp;книги ниже&nbsp;с&nbsp;места на&nbsp;место.
			Это&nbsp;то, чем&nbsp;мы&nbsp;любим больше&nbsp;всего заниматься.
			Попробуйте, вам&nbsp;понравится.
		</p>

		<books></books>

		<h2 class="slogan slogan_wide">
			Вы работаете — мы отдыхаем
		</h2>

		<p class="lead">
			Мы не несем ответственность за изданные книги.
			Мы выбираем книги случайно и где попало.
			Наши любимые темы не определены, не глубоки и не интересны.
			Мы считаем, что краткость.
			Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.
		</p>

		<div class="main-text">
			<h3>История названия</h3>

			<p>
				Название издательства «Фрай, без штанов и Бендер» является отсылкой
				к известному мировому издательству  XXI века <i>«Манн, Иванов и Фербер»</i>.
				После того как издательство смоделировало искусственный интеллект
				(вобравший в себя 25 триллионов изданных книг) и все ее сотрудники
				исчезли в Бесконечном Нейронном Пространстве межгалактический совет
				запретил издавать бумажные книги.
			</p>
		</div>

		<ul class="avatars">
			<li>
				<a href="#fry" class="avatar">
					<img src="/images/avatars/fry.png" alt="Филип Джей Фрай" title="Филип Джей Фрай" />
				</a>
			</li>

			<li>
				<a href="#bender" class="avatar avatar_crown"
					alt="Бендер Сгибатель Родригес великий, незаконнособранный"
					title="Бендер Сгибатель Родригес великий, незаконнособранный"
				>
					<img src="/images/avatars/bender.png"/>
				</a>
			</li>

			<li>
				<a href="#scryffy" class="avatar" alt="Скраффи Скраффингтон" title="Скраффи Скраффингтон">
					<img src="/images/avatars/scryffy.png"/>
				</a>
			</li>

			<li>
				<a href="#slizen" class="avatar" alt="Ужасный студень" title="Ужасный студень">
					<img src="/images/avatars/slizen.png"/>
				</a>
			</li>

			<li>
				<a href="#kalkulon" class="avatar" alt="Калькулон" title="Калькулон">
					<img src="/images/avatars/kalkulon.png" />
				</a>
			</li>

			<li>
				<a href="#zapp" class="avatar" alt="Запп" title="Запп">
					<img src="/images/avatars/zapp.png" />
				</a>
			</li>
		</ul>

		<div class="main-text">
			<h3>Основатели</h3>

			<div class="employee">
				<a name="fry"></a>
				<h4>Филип Джей Фрай</h4>

				<p>
					В 1999 году Фрай встречался с девушкой по имени Мишель
					и работал курьером в «Пиццерии Пануччи».
					Жизнь у него пустая, его ничего не интересует,
					кроме, разве что игровых автоматов.
				</p>

				<p>
					Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его,
					и ему надо было доставить пиццу в криогенную лабораторию.
					Однако только там он заметил, что это был розыгрыш.
					Он сидел один в пустом здании лаборатории и качался на стуле,
					поедая пиццу, когда часы пробили полночь, и в этот момент Фрай
					упал со стула и попал в криогенную капсулу, в которой был заморожен
					на 1000 лет и был разморожен только 31 декабря 2999 года.
				</p>

				<p>
					Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик
					подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай
					спас вселенную в серии «The Day the Earth Stood Stupid».
					В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай,
					из будущего. Причина — девушка: Зубастик заключает с Фраем сделку —
					Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей,
					а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.
				</p>
			</div>

			<div class="employee">
				<a name="bender"></a>
				<h4>Бендер Сгибатель Родригес великий, незаконнособранный</h4>

				<p>
					Бендер Сгибатель Родригез, более известный как Бендер —
					один из главных персонажей «Футурамы». Он был сделан в Мексике (Тихуана)
					в 2997 году. Имеет серийный номер 2716057. Бендер пьет большое
					количество алкоголя, чтобы подзарядить свои топливные элементы.
					Когда он отрыгивает, из его рта выход огонь. Авантюрист, любит курить сигары.
					В настоящее время живет с Фраем в квартире.
				</p>
			</div>

			<h3 class="employees-title">
				Сотрудники
			</h3>

			<div class="employee">
				<a name="scryffy"></a>
				<h4>
					Скраффи Скраффингтон
				</h4>

				<p>
					Скраффи Скраффингтон, или просто Скраффи — уборщик
					в компании «Планет Экспресс». О нём часто повторяют шутки про то,
					что он мало взаимодействует с остальным коллективом
					и многие его просто не помнят или никогда не видели раньше.
					Также, Скраффи является владельцем 40 тыс. акций «Планет Экспресса»,
					и это больше, чем у остальных сотрудников,
					поскольку он «больше всех любит свою компанию» (по его словам).
				</p>

				<p>
					Скраффи ленив и его обычно можно увидеть в подвале здания штаб «Планет Экспресс»,
					где он читает журнал «Zero-G Jugg» или «National Pornographic»
					(рус. «Нэшнл Порнографик»). Обычно о себе говорит в третьем лице.
				</p>
			</div>

			<div class="cite">
				Сотрудники издательства были не раз замечены в провокациях
				и совершали бессмысленные действия
			</div>

			<div class="employee">
				<a name="slizen"></a>
				<h4>
					Ужасный студень
				</h4>

				<p>
					Добродушный пришелец, но прибегает к насилию даже
					при малейшей провокации. Как правило глотает негодяя.
				</p>
			</div>

			<div class="employee">
				<a name="kalkulon"></a>
				<h4>
					Калькулон
				</h4>

				<p>
					Рекламное лицо компании.
				</p>
			</div>

			<div class="employee">
				<a name="kalkulon"></a>
				<h4>
					Зепп Бранниган
				</h4>

				<p>
					Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган,
					англ. Webelo Zapp Brannigan) — персонаж, человек, капитан корабля Нимбус.
					Питает страстью к Лиле, но она не отвечает взаимностью.
					Имеет собственного помощника — Кифа. Часто заставляет его делать неприятную работу,
					например, почесать спинку, намылить Зеппу голову в душе и так далее.
					Занимает должность генерала в армии.
				</p>

				<p>
					Киф ненавидит Зеппа, но вынужден служить ему. Больше всего Киф ненавидит,
					когда Зепп его просит:
				</p>

				<ul>
					<li>
						потереть спинку;
					</li>
					<li>
						подать свежее нижнее белье в душ;
					</li>
					<li>
						позвонить в службу доставки парфюма и угрозами об уничтожении
						выпросить 99% скидку на любимые духи Зеппа;
					</li>
					<li>помыть посуду;</li>
					<li>передать вон той леди, как Зепп ее сильно желает.</li>
				</ul>

				<p>
					В остальном Киф доволен службой в Ограниченных Галактических
					Непобедимых войсках на должности помощника генерала.
				</p>
			</div>
		</div>

		<div class="footer"></div>
	</div>
{% endblock %}

{# =========== #}

{% block header %}
	<div class="header">
		<a class="header__logo" href="/"
			title="Издательство &laquo;Фрай, без штанов и Бендер&raquo;"
		>
			<img
				src="/images/logo.png"
				width="300"
				height="36"
				alt="Издательство &laquo;Фрай, без штанов и Бендер&raquo;"
			/>
		</a>

		<form class="search-field">
			<div class="search-field__input">
				<input type="text" placeholder="Поиск, скорее всего, не работает" />
				<button></button>
			</div>
		</form>
	</div>
{% endblock %}

{% block promo %}
<div class="promo">
	{% block promo-book %}{% endblock %}

	<div class="promo-features promo-features_left">
		<div class="promo-features__item promo-features__item_quoted">
			<img src="/images/bender.jpg" />
			<p>
				Эта книга доказывает ничтожность человеческой массы.
			</p>
		</div>

		<div class="promo-features__item">
			<img src="/images/zoiberg.jpg" />
			<p>
				В книге чувствуется безысходность и&nbsp;бесполезность
			</p>
		</div>
	</div>

	<div class="promo-features promo-features_right">
		<div class="promo-features__item">
			<img src="/images/01000110.jpg" />
			<p>
				Книга неправильно переведена на&nbsp;двоичный код
			</p>
		</div>

		<div class="promo-features__item">
			<img src="/images/magnet.jpg" />
			<p>
				В каждой книге магнит, который вытягивает вашу мелочь
			</p>
		</div>
	</div>

	<div class="promo__price">
		<div class="promo__button">
			Купить за жалкие
			<span class="price">
				1 999 <span class="currency">Z</span>
			</span>
		</div>

		<div class="price-description">
			<p>
				Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи
			</p>

			<img src="/images/scruffy.jpg" />
		</div>
	</div>
</div>
{% endblock %}

{% block promo-book %}
	<div class="promo__book">
		<div class="book book_big">
			<div class="cover">
				<div class="cover__container">
					<div class="cover__image">
						<img src="/images/books/earth_history.jpg" alt="Ф.Фрай &laquo;История Земли. XXXвв.&raquo; 3015г." />
					</div>
					<div class="bookmark bookmark_red"></div>
				</div>
			</div>
			<div class="book__description">
				В топ-100 Zoidbergzon.com в&nbsp;разделах
				&laquo;Это правда было так&raquo;
				и&nbsp;&laquo;Когнитивный писсонанс&raquo;
			</div>
		</div>
	</div>
{% endblock %}

{# =========== #}

{% block title %}
	Мы издаем книги — вы их можете не читать | Издательство &laquo;Фрай, без штанов и Бендер&raquo;
{% endblock %}

{% block scripts %}
	<script src="/index.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="/index.css" />
{% endblock %}
