{% extends 'layout.swig.html' %}

{% block body %}
	<div class="container" id="ng-app" ng-app="app">
		{% block header %}{% endblock %}

		<h1 class="slogan">
			Мы&nbsp;издаем книги — вы&nbsp;их можете не&nbsp;читать
		</h1>

		{% block promo %}{% endblock %}

		<h2 class="slogan">Самое незаметное издательство</h2>

		<p class="lead hide-on-small">
			Перетаскивайте&nbsp;книги ниже&nbsp;с&nbsp;места на&nbsp;место.
			Это&nbsp;то, чем&nbsp;мы&nbsp;любим больше&nbsp;всего заниматься.
			Попробуйте, вам&nbsp;понравится.
		</p>

		<books></books>

		<h2 class="slogan slogan_wide">
			Вы&nbsp;работаете&nbsp;— мы&nbsp;отдыхаем
		</h2>

		<p class="lead">
			Мы не&nbsp;несем ответственность за&nbsp;изданные книги.
			Мы&nbsp;выбираем книги случайно и&nbsp;где&nbsp;попало.
			Наши любимые темы неопределены, неглубоки и&nbsp;неинтересны.
			Мы&nbsp;считаем, что&nbsp;краткость.
			Поэтому мы&nbsp;обходимся двумя&nbsp;словами, чтобы выразить все&nbsp;эмоции и&nbsp;донести смысл.
		</p>

		<div class="main-text">
			<h3>История названия</h3>

			<p>
				Название издательства «Фрай, без штанов и&nbsp;Бендер» является отсылкой
				к&nbsp;известному мировому издательству  XXI&nbsp;века <i>«Манн, Иванов и&nbsp;Фербер»</i>.
				После того как издательство смоделировало искусственный интеллект
				(вобравший в&nbsp;себя 25&nbsp;триллионов изданных книг) и&nbsp;все ее&nbsp;сотрудники
				исчезли в&nbsp;Бесконечном Нейронном Пространстве межгалактический совет
				запретил издавать бумажные книги.
			</p>
		</div>

		<ul class="avatars">
			<li>
				<a href="#fry" class="avatar">
					<img src="/images/avatars/fry.png" alt="Филип Джей Фрай" title="Филип Джей Фрай" />
				</a>
			</li>

			<li>
				<a href="#bender" class="avatar avatar_crown"
					alt="Бендер Сгибатель Родригес великий, незаконнособранный"
					title="Бендер Сгибатель Родригес великий, незаконнособранный"
				>
					<img src="/images/avatars/bender.png"/>
				</a>
			</li>

			<li>
				<a href="#scryffy" class="avatar" alt="Скраффи Скраффингтон" title="Скраффи Скраффингтон">
					<img src="/images/avatars/scryffy.png"/>
				</a>
			</li>

			<li>
				<a href="#slizen" class="avatar" alt="Ужасный студень" title="Ужасный студень">
					<img src="/images/avatars/slizen.png"/>
				</a>
			</li>

			<li>
				<a href="#kalkulon" class="avatar" alt="Калькулон" title="Калькулон">
					<img src="/images/avatars/kalkulon.png" />
				</a>
			</li>

			<li>
				<a href="#zapp" class="avatar" alt="Запп" title="Запп">
					<img src="/images/avatars/zapp.png" />
				</a>
			</li>
		</ul>

		<div class="main-text">
			<h3>Основатели</h3>

			<div class="employee">
				<a name="fry"></a>
				<h4>Филип Джей Фрай</h4>

				<p>
					В&nbsp;1999&nbsp;году Фрай встречался с&nbsp;девушкой по&nbsp;имени Мишель
					и&nbsp;работал курьером в&nbsp;«Пиццерии Пануччи».
					Жизнь у&nbsp;него пустая, его&nbsp;ничего не&nbsp;интересует,
					кроме, разве&nbsp;что игровых автоматов.
				</p>

				<p>
					Жил&nbsp;он, судя по всему, у&nbsp;Мишель. 31&nbsp;декабря 1999&nbsp;года Мишель отшила&nbsp;его,
					и&nbsp;ему надо&nbsp;было доставить пиццу в&nbsp;криогенную лабораторию.
					Однако только там он&nbsp;заметил, что это был&nbsp;розыгрыш.
					Он&nbsp;сидел один в&nbsp;пустом здании лаборатории и&nbsp;качался на&nbsp;стуле,
					поедая пиццу, когда часы пробили полночь, и&nbsp;в&nbsp;этот момент Фрай
					упал со&nbsp;стула и&nbsp;попал в&nbsp;криогенную капсулу, в&nbsp;которой был&nbsp;заморожен
					на&nbsp;1000&nbsp;лет и&nbsp;был разморожен только 31&nbsp;декабря 2999&nbsp;года.
				</p>

				<p>
					Позднее, в&nbsp;эпизоде «The Why of Fry», оказалось, что это&nbsp;Зубастик
					подтолкнул Фрая, чтобы он&nbsp;упал в&nbsp;криокамеру, для&nbsp;того чтобы Фрай
					спас вселенную в&nbsp;серии «The&nbsp;Day the&nbsp;Earth Stood Stupid».
					В&nbsp;этом&nbsp;же эпизоде выяснилось, что&nbsp;Фрая подтолкнул сам&nbsp;Фрай,
					из&nbsp;будущего. Причина&nbsp;— девушка: Зубастик заключает с&nbsp;Фраем сделку&nbsp;—
					Филип помогает защищать Вселенную от&nbsp;грозящих&nbsp;ей в&nbsp;XXXI&nbsp;веке опасностей,
					а&nbsp;зубастильонцы, в&nbsp;свою очередь, помогают&nbsp;ему добиться взаимности от&nbsp;Лилы.
				</p>
			</div>

			<div class="employee">
				<a name="bender"></a>
				<h4>Бендер Сгибатель Родригес великий, незаконнособранный</h4>

				<p>
					Бендер Сгибатель Родригез, более известный как&nbsp;Бендер&nbsp;—
					один из&nbsp;главных персонажей «Футурамы». Он&nbsp;был сделан в&nbsp;Мексике (Тихуана)
					в&nbsp;2997&nbsp;году. Имеет серийный номер 2716057. Бендер пьет большое
					количество алкоголя, чтобы подзарядить свои топливные элементы.
					Когда он&nbsp;отрыгивает, из&nbsp;его&nbsp;рта выход огонь. Авантюрист, любит курить сигары.
					В&nbsp;настоящее время живет с&nbsp;Фраем в&nbsp;квартире.
				</p>
			</div>

			<h3 class="employees-title">
				Сотрудники
			</h3>

			<div class="employee">
				<a name="scryffy"></a>
				<h4>
					Скраффи Скраффингтон
				</h4>

				<p>
					Скраффи Скраффингтон, или&nbsp;просто Скраффи&nbsp;— уборщик
					в&nbsp;компании «Планет Экспресс». О&nbsp;нём часто повторяют шутки про&nbsp;то,
					что он&nbsp;мало взаимодействует с&nbsp;остальным коллективом
					и&nbsp;многие его просто не&nbsp;помнят или&nbsp;никогда не&nbsp;видели раньше.
					Также, Скраффи является владельцем 40&nbsp;тыс. акций «Планет Экспресса»,
					и&nbsp;это больше, чем у&nbsp;остальных сотрудников,
					поскольку он&nbsp;«больше всех любит свою компанию» (по&nbsp;его&nbsp;словам).
				</p>

				<p>
					Скраффи ленив и&nbsp;его обычно можно&nbsp;увидеть в&nbsp;подвале здания штаб «Планет Экспресс»,
					где он&nbsp;читает журнал «Zero-G Jugg» или «National Pornographic»
					(рус. «Нэшнл Порнографик»). Обычно о&nbsp;себе говорит в&nbsp;третьем лице.
				</p>
			</div>

			<div class="cite">
				Сотрудники издательства были не&nbsp;раз замечены в&nbsp;провокациях
				и&nbsp;совершали бессмысленные действия
			</div>

			<div class="employee">
				<a name="slizen"></a>
				<h4>
					Ужасный студень
				</h4>

				<p>
					Добродушный пришелец, но&nbsp;прибегает к&nbsp;насилию даже
					при&nbsp;малейшей провокации. Как&nbsp;правило, глотает негодяя.
				</p>
			</div>

			<div class="employee">
				<a name="kalkulon"></a>
				<h4>
					Калькулон
				</h4>

				<p>
					Рекламное лицо компании.
				</p>
			</div>

			<div class="employee">
				<a name="kalkulon"></a>
				<h4>
					Зепп Бранниган
				</h4>

				<p>
					Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган,
					англ. Webelo Zapp Brannigan)&nbsp;— персонаж, человек, капитан корабля Нимбус.
					Питает страстью к&nbsp;Лиле, но&nbsp;она не&nbsp;отвечает взаимностью.
					Имеет собственного помощника&nbsp;— Кифа. Часто заставляет&nbsp;его делать неприятную работу,
					например, почесать спинку, намылить Зеппу голову в&nbsp;душе и&nbsp;так&nbsp;далее.
					Занимает должность генерала в&nbsp;армии.
				</p>

				<p>
					Киф ненавидит Зеппа, но&nbsp;вынужден служить ему. Больше всего Киф ненавидит,
					когда Зепп его&nbsp;просит:
				</p>

				<ul>
					<li>
						потереть спинку;
					</li>
					<li>
						подать свежее нижнее белье в&nbsp;душ;
					</li>
					<li>
						позвонить в&nbsp;службу доставки парфюма и&nbsp;угрозами об&nbsp;уничтожении
						выпросить 99% скидку на&nbsp;любимые духи Зеппа;
					</li>
					<li>помыть посуду;</li>
					<li>передать вон&nbsp;той леди, как&nbsp;Зепп ее&nbsp;сильно желает.</li>
				</ul>

				<p>
					В&nbsp;остальном Киф доволен службой в&nbsp;Ограниченных Галактических
					Непобедимых войсках на&nbsp;должности помощника генерала.
				</p>
			</div>
		</div>

		<div class="footer"></div>
	</div>
{% endblock %}

{# =========== #}

{% block header %}
	<div class="header">
		<a class="header__logo" href="/"
			title="Издательство &laquo;Фрай, без штанов и Бендер&raquo;"
		>
			<img
				src="/images/logo.png"
				width="300"
				height="36"
				alt="Издательство &laquo;Фрай, без штанов и Бендер&raquo;"
			/>
		</a>

		<form class="search-field">
			<div class="search-field__input">
				<input type="text" placeholder="Поиск, скорее всего, не работает" />
				<button></button>
			</div>
		</form>
	</div>
{% endblock %}

{% block promo %}
<div class="promo">
	{% block promo-book %}{% endblock %}

	<div class="promo-features promo-features_left">
		<div class="promo-features__item promo-features__item_quoted">
			<img src="/images/bender.jpg" />
			<p>
				Эта&nbsp;книга доказывает ничтожность человеческой массы.
			</p>
		</div>

		<div class="promo-features__item">
			<img src="/images/zoiberg.jpg" />
			<p>
				В&nbsp;книге чувствуется безысходность и&nbsp;бесполезность
			</p>
		</div>
	</div>

	<div class="promo-features promo-features_right">
		<div class="promo-features__item">
			<img src="/images/01000110.jpg" />
			<p>
				Книга неправильно переведена на&nbsp;двоичный код
			</p>
		</div>

		<div class="promo-features__item">
			<img src="/images/magnet.jpg" />
			<p>
				В&nbsp;каждой книге магнит, который вытягивает вашу&nbsp;мелочь
			</p>
		</div>
	</div>

	<div class="promo__price">
		<div class="promo__button">
			Купить за&nbsp;жалкие
			<span class="price">
				1&nbsp;999 <span class="currency">Z</span>
			</span>
		</div>

		<div class="price-description">
			<p>
				Наши&nbsp;цены самые непредсказуемые и&nbsp;формируются нашим уборщиком Скраффи
			</p>

			<img src="/images/scruffy.jpg" />
		</div>
	</div>
</div>
{% endblock %}

{% block promo-book %}
	<div class="promo__book">
		<div class="book book_big">
			<div class="cover">
				<div class="cover__container">
					<div class="cover__image">
						<img src="/images/books/earth_history.jpg" alt="Ф.Фрай &laquo;История Земли. XXXвв.&raquo; 3015г." />
						<div class="eye">
							<div class="pupil"></div>
						</div>
					</div>
					<div class="bookmark bookmark_red"></div>
				</div>
			</div>
			<div class="book__description">
				В&nbsp;топ-100 Zoidbergzon.com в&nbsp;разделах
				&laquo;Это правда было так&raquo;
				и&nbsp;&laquo;Когнитивный писсонанс&raquo;
			</div>
		</div>
	</div>
{% endblock %}

{# =========== #}

{% block title %}
	Мы&nbsp;издаем книги&nbsp;— вы&nbsp;их можете не&nbsp;читать | Издательство &laquo;Фрай, без&nbsp;штанов и&nbsp;Бендер&raquo;
{% endblock %}

{% block scripts %}
	<script src="/index.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="/index.css" />
{% endblock %}
